doctype html
head
  meta(charset="utf-8")
  title home
  //- include the links file
  include ../common/links.pug
body

  .main
    h1 Hey, let's combine between <span>GULP</span> and <span>WEBPACK</span> !
    img(src="https://bs-uploads.toptal.io/blackfish-uploads/blog/article/content/cover_image_file/cover_image/10680/cover-0809_WebpackBrowserifyGulp_Dan_Newsletter-d970a46d1707f45a451a1ac3908c75b7.png", alt="")

  //- include the scripts fieldset
  include ../common/scripts.pug
